@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 18 86% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 20% 97%;
    --secondary-foreground: 0 0% 12%;
    --muted: 220 13% 18%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 182 27% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 18 86% 42%;
    --chart-1: 26 95% 53%;
    --chart-2: 194 52% 40%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 98%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 18 86% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 20% 97%;
    --secondary-foreground: 0 0% 12%;
    --muted: 220 13% 18%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 182 27% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 18 86% 42%;
    --chart-1: 26 95% 53%;
    --chart-2: 194 52% 40%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
